In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold

In [2]:
col_names=['Univ_Mrks','School_Mrks','Admission']
df=pd.read_csv(r'./Student-University(For Logistic Regression Program).csv',header=None,names=col_names)

In [3]:
df

    Univ_Mrks  School_Mrks  Admission
0   34.623660    78.024693          0
1   30.286711    43.894998          0
2   35.847409    72.902198          0
3   60.182599    86.308552          1
4   79.032736    75.344376          1
..        ...          ...        ...
95  83.489163    48.380286          1
96  42.261701    87.103851          1
97  99.315009    68.775409          1
98  55.340018    64.931938          1
99  74.775893    89.529813          1

[100 rows x 3 columns]

In [4]:
x=df.iloc[:,[0,1]].values

In [5]:
y=df.iloc[:,2].values

In [6]:
p=preprocessing.scale(x)

In [7]:
kf=KFold(n_splits=5)

In [8]:
for train_index,test_index in kf.split(p):
    xtrain,xtest,ytrain,ytest=train_test_split(p,y,test_size=0.20,random_state=0)
    x1=xtrain[:,0]
    x2=xtrain[:,1]
    b0=0.0
    b1=0.0
    b2=0.0
    epoch=10000
    alpha=0.001
    while(epoch>0):
        for i in range(len(xtrain)):
            prediction=1/(1+np.exp(-(b0+b1*x1[i]+b2*x2[i])))
            b0=b0+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*1.0
            b1=b1+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*x1[i]
            b2=b2+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*x2[i]
            epoch=epoch-1

In [9]:
print(b0)
print(b1)
print(b2)

0.16701973288386196
0.4868177427484464
0.4948075155845019

In [10]:
final_prediction=[]
x3=xtest[:,0]
x4=xtest[:,1]

print(ytest)

[1 0 0 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 1 1]

In [11]:
y_pred=[0]*len(xtest)
for i in range(len(xtest)):
    y_pred[i]=np.round(1/(1+np.exp(-(b0+b1*x3[i]+b2*x4[i]))))
    final_prediction.append(np.ceil(y_pred[i]))

In [12]:
print(final_prediction)

[0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0]

In [13]:
from sklearn.metrics import accuracy_score
print("Accuracy",accuracy_score(ytest,y_pred))

Accuracy 0.8